* {
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1,h2,h3,h4,h5,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  @media only screen and (max-width:600px) {
    /*main*/
    body{
      padding: 0;
      margin: 0;
    }
#about-main {
  padding: 0;
  border-right: none;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 0 ;
}
.about-bg-1{
background-color: #38444D;
height: auto;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
}
.about-bg-1-container{
margin: 0 5% 0 5%;
padding: 0 40px 0 40px;
}
.about-bg-2{
background-color: whitesmoke;
height: 100%;
width: 100%;
padding-top: 50px;
padding-bottom: 90px;
}
.about-bg-2-container{
margin: 0 5% 0 5%;
padding: 0 10px 0 10px;
}
.about-title-h1{
  text-shadow: 2px 1px 2px #999; 
  margin: 0 10px 10px 0; 
  text-align: center;
}
.about-title-span{
  font-size: 45px; 
  color: whitesmoke; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-h3{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  font-weight: 300;
  word-spacing: 5px;
  text-align: left;
  padding-top: 10px;
}
  }
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    /*your css style for size between 600pz and 90px*/
  }
  @media only screen and (min-width: 900px) {
    /*your css style for size larger than 900px*/
  }
  
  @media only screen and (min-width: 1024px) { 
/*main*/
#about-main {
    padding: 0;
    border-right: none;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.about-bg-1{
  background-color: #38444D;
  height: 20vh;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}
.about-bg-1-container{
  margin: 0 10% 0 10%;
  padding: 0 90px 0 90px;
}
.about-bg-2{
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 90px;
}
.about-bg-2-container{
  margin: 0 10% 0 10%;
  padding: 0 90px 0 90px;
}
.about-title-h1{
  text-shadow: 4px 1px 2px #999; 
  margin: 0 40px 40px 0; 
  text-align: center;
}
.about-title-span{
  font-size: 80px; 
  color: whitesmoke; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    font-weight: 300;
    word-spacing: 5px;
    text-align: left;
    padding-top: 10px;
}
  }