* {
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1,h2,h3,h4,h5,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /*mobile*/
  @media only screen and (max-width: 600px){
    /*main*/
#courses-main {
  padding: 0;
  border-right: none;
  width: 100%;
  margin-top: 60px;
}
.courses-bg-1{
background-color: #282828;
height: 10vh;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
}
.courses-bg-1-container{
margin: 0 10% 0 10%;
padding: 0 40px 0 40px;
}
.courses-bg-2{
background-color: #f1f1f1;
height: 100%;
width: 100%;
padding-top: 50px;
padding-bottom: 90px;
}
.courses-bg-2-container{
margin: 0 5% 0 5%;
padding: 0 10px 0 10px;
align-items: center;
}
.courses-course-container{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  color:black;
  background-color:white;
  padding:10px;
  padding-left: 20px;
  border-radius: 15px;
  width: 100%;
}
.courses-title-h1{
text-shadow: 4px 1px 2px #999;  
text-align: center;
margin: 0;
}
.courses-title-showdow{
font-size: 60px; 
color: whitesmoke; 
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.courses-course-h2{
  font-size:30px;
  font-weight:1200;
  margin-left: 5px;
}
.courses-card-padding{
padding:4% 5%;
}
.courses-card-padding a{
  text-decoration: none;
  width: 80%;
}

.courses-h5-course-name{
  font-size: 16px;
height:70px;
margin-left: 5px;
}
  }

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    /*your css style for size between 600pz and 90px*/
  }
  @media only screen and (min-width: 900px) {
    /*your css style for size larger than 900px*/
  }
  
/** my laptop responsive **/
  @media only screen and (min-width: 1024px) {

/*main*/
#courses-main {
    padding: 0;
    border-right: none;
    width: 100%;
    margin-top: 60px;
}
.courses-bg-1{
  background-color: #282828;
  height: 16.5vh;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 10px;
}
.courses-bg-1-container{
  margin: 0 10% 0 10%;
  padding: 0 90px 0 90px;
}
.courses-bg-2{
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 90px;
}
.courses-bg-2-container{
  margin: 0 20% 0 20%;
}
.courses-course-container{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    color:black;
    background-color:white;
    padding:24px;
    border-radius: 15px;
}
.courses-title-h1{
  text-shadow: 4px 1px 2px #999; 
  margin: 0 10px 40px 0; 
  text-align: center;
}
.courses-title-showdow{
  font-size: 80px; 
  color: whitesmoke; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.courses-course-h2{
    font-size:45px;
    font-weight:1200;
    margin-left: 50px;
}
.courses-card-padding{
  padding:2% 3%;
}
.courses-card-padding a{
  text-decoration: none;
}
.courses-h5-course-name{
  height:70px;
  margin-left: 50px;
}
}

