* {
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*Medium mobile devices (e.g., iPhone 6/7/8):*/
@media only screen and (min-width: 321px) and (max-width: 375px) {
  /* styles here */
}

/*Large mobile devices (e.g., iPhone 6/7/8 Plus):*/
@media only screen and (min-width: 376px) and (max-width: 414px) {
/* styles here */
}  

/* Mobile devices (max-width: 600px) */
@media only screen and (max-width: 600px) {
  body {
      margin: 0;
      overflow-x: hidden;
      display: flex;
      background-color: #282828;
      width: 100%;
      height: 100vh;
    }
    .bg-container {
      position: relative;
      flex-grow: 10;
      min-height: 100vh;
      width: 100%;
      background-size: auto;
      flex-direction: column;
      display: flex;
    }
    /*Navigation Bar*/
.Navigation-Bar {
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  border-bottom: 1px solid #282828;
}
.pill-nav{
  display: none;
}
.btn-sign-up{
  display: none;
}
.menu-bar{
  font-size: 30px;
  color: black;
  position: absolute;
  top: 8px;
  left: 10px;
}
.mymenu{
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #282828;
  display: block;
  transition: 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.sidenav .icons {
  color: #38444D;
  float: left;
  font-size:26px;
  position: relative;
  top:55%;
  left: 10px;
  margin-left: 5px;
  padding: 10px;
}
.sidenav a:hover {
  color: #F45E5E;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.engineering-backlogs-logo{
  height: 76px;
  width: auto;
  position: absolute;
  top: -9px;
  left: 30%;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
}
  /*search bar*/
  form.search-bar input[type=text] {
    display: none;
    padding: 9px;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius:20px;
    float: left;
    width: 30%;
    background: #cccccc;
    position: absolute;
    top: 17px;
    left: 25%;
    align-items: center;
    z-index: 4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.search-bar button {
    display: none;
    float: left;
    width: 10%;
    padding: 9px;
    background: #F45E5E;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    position: absolute;
    top: 17px;
    left: 50%;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.search-bar button:hover {
    background: #F97566;
    color: white;
    border: 0;
  }
  
  form.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }
  
.login-btn{
  padding: 8px;
  text-align: center;
  font-weight: 500;
  width: 20%;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #F45E5E;
  border: none;
  border-radius: 15px;
  float: right;
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Navigation Bar ends*/

#main {
  padding: 0;
  border-right: none;
  width: 100%;
  margin-top: 60px;
}
.bg-1{
background-color: #282828;
height: 50vh;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
}
.bg-1-container{
margin-left: 15px;
padding: 0 60px 0 6px;
}
.welcome{
font-size: 50px;
font-weight: 700;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
text-align: left;
}
.failure-quote{
position: relative;
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #F45E5E;
margin-top: 5px;
}
form.welcome-search-bar input[type=text] {
padding: 7px;
font-size: 14px;
border: 0;
border-radius: 25px;
float: left;
width: 70%;
padding-left: 25px;
background: white;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
border-right: 0;
border-right: 1px solid #F45E5E;
outline: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.welcome-search-bar button {
border-radius: 25px;
float: left;
width: 10%;
padding: 7px;
background: #F45E5E;
color: white;
font-size: 14px;
border: 0;
border-left: none;
cursor: pointer;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.start-sucess{
  /*float: right;
  position: absolute;
  width: 200px;
  top: 25%;
  right: 10px;*/
  display: none;
}
/*bg-2*/
.bg-2{
  background-color: #999;
  height: 70vh;
  width: 100%;
  margin-top: -30px;
  margin-bottom: -40px;
}
.bg-2-container{
  padding: 40px 10px 0 10px;
  margin: 0 10px 0 20px;
  
}
.courses-h1{
  text-align: center;
  margin-left: 0;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  margin-bottom: 50px;
}

.column {
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  border-radius: 15px;
  width: 150px;
  margin-left: 10px;
  padding: 14px;
  background-color:white;
  margin-bottom: 10px;
}

.container {
  padding: 0px;
  color:black;
  background-color:white;
} 
.course-h2{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
}
.course-h5{
  display: none;
}

.be-center{
  text-align: center!important;
}
/*bg-3*/
.bg-3{
  background-color: #282828;
  height: 75vh;
  width: 100%;
}
.bg-3-container{
  padding: 40px 10px 0 10px;
  margin: 0 0 0 0;
}
.syllabus-bg-3-padding{
  margin: 60px 10%;
}
.syllabus-h1{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.syllabus-h3{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  margin: 0;
  padding: 10px 0;
}
.syllabus-h2{
  font-size:30px;
  font-weight:700;
  margin: 0;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.padding-syllabus{
  padding: 10%;
}
.syllabus-container{
  color: #282828;
  background-color:whitesmoke;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
}
.JNTUH{
  width: 50%;
  height: auto;
  float: center;
  position: relative;
}
/*bg-4*/
.bg-4{
  background-color: #38444D;
  height: 30vh;
  width: 100%;
  margin-top: -10px;
}
.bg-4-container{
  padding: 40px 10px 0 10px;
  margin: 0 0 0 0;
}
.notes-h1{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.notes-h3{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  margin: 0;
  padding: 10px 0;
}
form.notes-search-bar input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 0;
  border-radius: 25px;
  float: center;
  width: 50%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  outline: 0;
  position: relative;
  left: 16%;
  top: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.notes-search-bar button {
  border-radius: 25px;
  float: center;
  width: 10%;
  padding: 10px;
  background: #F45E5E;
  color: white;
  font-size: 14px;
  border: 0;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: 16%;
  top: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*bg-5*/
.bg-5{
  background-color: #282828;
  height: 30vh;
  width: 100%;
  margin-top: -10px;
}
.bg-5-container{
  padding: 40px 10px 0 10px;
  margin: 0 0 0 0;
}
.PP-h1{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.PP-h3{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  margin: 0;
  padding: 10px 0;
}
form.PP-search-bar input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 0;
  border-radius: 25px;
  float: center;
  width: 50%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  outline: 0;
  position: relative;
  left: 16%;
  top: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.PP-search-bar button {
  border-radius: 25px;
  float: center;
  width: 10%;
  padding: 10px;
  background: #F45E5E;
  color: white;
  font-size: 14px;
  border: 0;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: 16%;
  top: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*bg-6*/
.bg-6{
  background-color: #999;
  height: 70vh;
  width: 100%;
  margin-top: -10px;
}
.bg-6-container{
  padding: 40px 10px 0 10px;
  margin: 0 0 0 0;
}
.earn-h1{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  margin: 0;
}
.earn-h3{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  margin: 0;
  padding: 10px 0;
}
.earn-money{
  align-items: center;
  position: relative;
  width: 80%;
  left: 40px;
}

/*footer*/
.footer{
  background-color: #fff;
  height: 115vh;
  width: 100%;
  border-top: 1px solid #282828;
  padding-bottom: 0;
}
.footer-container{
  margin-left: 10%;
  margin-right: 10%;
  padding: 60px 0 32px;
  display: flex;
  flex-wrap: wrap;
}
.footer-logo{
  width: 70px;
  height: auto;
}
.footer-links{
  font-size: 20px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.ga-bottom{
  color: #38444D;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  float: left;
  padding-right: 10px;
}
.icons{
  color: #38444D;
  float: left;
  font-size:26px;
  margin-right: 10px;
  padding: 10px;
}
.icons:hover{
  display: none;
}
.jss121 {
  height: 10px;
  margin-left: 6px;
}



}

/*Small tablets (e.g., iPad Mini):*/
@media only screen and (min-width: 415px) and (max-width: 639px) {
  /* styles here */
}

/*Medium tablets (e.g., iPad):*/
@media only screen and (min-width: 640px) and (max-width: 767px) {
  /* styles here */
}

/*Large tablets (e.g., iPad mini):*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    background-color: #282828;
    width: 100%;
    height: 100vh;
  
  }
  .bg-container {
    position: relative;
    flex-grow: 10;
    min-height: 100vh;
    width: 100%;
    background-size: auto;
    flex-direction: column;
    display: flex;
  }
  
  
  
  /* navigation bar starting*/
  
    /*alert message*/
  .alert {
    padding: 20px;
    background-color: #F45E5E;
    color: white;
  }
    
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
    
  .closebtn:hover {
    color: black;
  }
  
  /*Navigation Bar*/
  .Navigation-Bar {
      background-color: white;
      height: 70px;
      width: 100%;
      display: flex;
      z-index: 1100;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-direction: column;
      top: 0;
      left: auto;
      right: 0;
      position: fixed;
      border-bottom: 1px solid #282828;
  }
  .menu-bar{
    display: none;
  }
  .sidenav{
  display: none;
  }
  
  
  /*logo*/
  /*.logo {
      height: 55px;
      margin: 0 15px;
      position: absolute;
      left: 0;
      top: 2.5px;
      padding: 5px;
      cursor: pointer;
  }*/
  .engineering-backlogs-logo{
    height: 76px;
    width: auto;
    position: relative;
    margin-top: -6px;
    margin-left: 15px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
  }
  
  /*navigation bar*/
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  .pill-nav{
    display: none;
  }
  .mymenu {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 20%;
    background-color: #f0f0f0;
    color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .mymenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .mymenu a:hover{
    color: #f1f1f1;
  }
  
  .mymenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
     
  /*dropdown btn*/
  .dropbtn {
    color: #282828;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    color: #282828;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #282828;
    text-align: left;
    text-decoration: none;
    display: block;
  }
  .padding-left-5px{
    padding-left: 0 5px;
  }
  .dropdown-content a:hover {background-color: #F45E5E; color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #cccccc; color: black;}
  
  /*search bar*/
  form.search-bar input[type=text] {
    padding: 9px;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius:20px;
    float: left;
    width: 30%;
    background: #cccccc;
    position: absolute;
    top: 17px;
    left: 25%;
    align-items: center;
    z-index: 4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.search-bar button {
    float: left;
    width: 10%;
    padding: 9px;
    background: #F45E5E;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    position: absolute;
    top: 17px;
    left: 50%;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.search-bar button:hover {
    background: #F97566;
    color: white;
    border: 0;
  }
  
  form.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /*login-btn*/
  .login-btn{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    width: 10%;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: #F45E5E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px  #999;
    float: left;
    position: absolute;
    left: 85%;
    top: 15px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .login-btn:hover {background-color: #F97566; color: white;}
  
  .login-btn:active {
    background-color: #F45E5E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
  /*get started button*/
  .btn-sign-up{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    width: 10%;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: #F45E5E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px  #999;
    float: left;
    position: absolute;
    top: 15px;
    left: 72.5%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .btn-sign-up:hover {background-color: #F97566; color: white;}
  
  .btn-sign-up:active {
    background-color: #F45E5E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  /*Navigation bar ending*/
  
  /*main*/
  #main {
      padding: 0;
      border-right: none;
      width: 100%;
      margin-top: 60px;
  }
  .bg-1{
    background-color: #282828;
    min-height: 60vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: -15px;
  }
  .bg-1-container{
    margin: 0 0 0 5%;
    padding: 0 250px 0 9px;
  }
  .welcome{
    font-size: 65px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }
  .failure-quote{
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F45E5E;
    margin-top: 10px;
  }
  form.welcome-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 25px;
    float: left;
    width: 45%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #F45E5E;
    outline: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.welcome-search-bar button {
    border-radius: 25px;
    float: left;
    width: 10%;
    padding: 10px;
    background: #F45E5E;
    color: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .start-sucess{
    float: right;
    position: absolute;
    width: 45%;
    top: 25%;
    left: 55%;
  }
  
  /*bg-2*/
  .bg-2{
    background-color: #999;
    height: 150vh;
    width: 100%;
    margin-top: -30px;
    margin-bottom: -15px;
  }
  .bg-2-container{
    padding: 90px 40px 0 40px;
    margin: 0 5% 0 5%;
  }
  .courses-h1{
    text-align: center;
    margin-left: -5%;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    margin-bottom: 80px;
  }
  
  .column {
    float: left;
    width: 40%;
    margin-right: 10%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card {
    border-radius: 15px;
    padding:14px;
    background-color:white;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 270px;
  }
  
  .container {
    padding:2% 3%;
    color:black;
    background-color:white;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display:table;
  }  
  .course-h2{
    font-size:40px;
    font-weight: 700;
    margin: 25px 25px 25px 10px;
    text-decoration: none;
  }
  .course-h5{
    height: 50px;
    margin: 5px;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .be-center{
    text-align: center!important;
  }
  /*bg-3*/
  .bg-3{
    background-color: #282828;
    height: 100vh;
    width: 100%;
    margin: -10px;
  }
  .bg-3-container{
    padding: 60px 50px 0 50px;
    margin: 0 5% 0 5%;
  }
  .syllabus-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
  }
  .syllabus-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 10px 0;
  }
  .syllabus-h2{
    font-size:40px;
    font-weight:700;
    margin: 0;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .syllabus-container{
    color: #282828;
    background-color:whitesmoke;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
  }
  .syllabus-container:hover{
    color: black;
    background-color: #efefef;
  }
  .JNTUH{
    width: 35%;
    height: auto;
    float: center;
    position: relative;
  }
  
  /*bg-4*/
  .bg-4{
    background-color: #38444D;
    height: 45vh;
    width: 100%;
    margin-top: -10px;
  }
  .bg-4-container{
    padding: 60px 50px 60px 50px;
    margin: 0 5% 0 5%;
  }
  .notes-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
  }
  .notes-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 10px 0;
  }
  form.notes-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 25px;
    float: center;
    width: 35%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    outline: 0;
    position: relative;
    left: 25%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.notes-search-bar button {
    border-radius: 25px;
    float: center;
    width: 10%;
    padding: 10px;
    background: #F45E5E;
    color: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 25%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  /*bg-5*/
  .bg-5{
    background-color: #282828;
    height: 45vh;
    width: 100%;
    margin-top: -10px;
  }
  .bg-5-container{
    padding: 60px 50px 60px 50px;
    margin: 0 5% 0 5%;
  }
  .PP-h1{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
  }
  .PP-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 10px 0;
  }
  form.PP-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 25px;
    float: center;
    width: 45%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    outline: 0;
    position: relative;
    left: 20%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.PP-search-bar button {
    border-radius: 25px;
    float: center;
    width: 10%;
    padding: 10px;
    background: #F45E5E;
    color: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 20%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /*bg-6*/
  .bg-6{
    background-color: #999;
    height: 18%;
    width: 100%;
    margin-top: -10px;
  }
  .bg-6-container{
    padding: 60px 50px 60px 50px;
    margin: 0 5% 0 5%;
  }
  .earn-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    margin: 0;
  }
  .earn-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    margin: 0;
    padding: 10px 0;
  }
  .earn-money{
    align-items: center;
    position: relative;
    top: 80px;
  }
  
  
  /*footer*/
  .footer{
    background-color: #fff;
    height: 85vh;
    width: 100%;
    border-top: 1px solid #282828;
  }
  .footer-container{
    margin-left: 10%;
    margin-right: 10%;
    padding: 60px 0 32px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo{
    width: 70px;
    height: auto;
  }
  .footer-links{
    display:inline-table;
    font-size: 20px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
  }
  .margin-links {
    margin-top: 50px;
  }
  .ga-bottom{
    color: #38444D;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    float: left;
    padding-right: 50px;
  }
  .ga-bottom:hover{
    text-decoration: underline;
    color: black;
  }
  .icons{
    color: #38444D;
    text-decoration: none;
    float: left;
    font-size:26px;
    margin-right: 10px;
    padding: 10px;
  }
  .icons:hover{
    color: black;
    background-color: transparent;
    border-radius: 10px;
  }
  .jss121 {
    height: 10px;
    margin-left: 6px;
  }

}

/* Laptop with a screen size of 1366x768 pixels */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* styles here */
  /*body*/
  body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    background-color: #282828;
    width: 100%;
    height: 100vh;
  
  }
  .bg-container {
    position: relative;
    flex-grow: 10;
    min-height: 100vh;
    width: 100%;
    background-size: auto;
    flex-direction: column;
    display: flex;
  }
  
  
  
  /* navigation bar starting*/
  
    /*alert message*/
  .alert {
    padding: 20px;
    background-color: #F45E5E;
    color: white;
  }
    
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
    
  .closebtn:hover {
    color: black;
  }
  
  /*Navigation Bar*/
  .Navigation-Bar {
      background-color: red;
      height: 60px;
      width: 100%;
      display: flex;
      z-index: 1100;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-direction: column;
      top: 0;
      left: auto;
      right: 0;
      position: fixed;
      border-bottom: 1px solid #282828;
  }
  .menu-bar{
    display: none;
  }
  .sidenav{
  display: none;
  }
  .mymenu{
    display: none;
  }
  
  /*logo*/
  /*.logo {
      height: 55px;
      margin: 0 15px;
      position: absolute;
      left: 0;
      top: 2.5px;
      padding: 5px;
      cursor: pointer;
  }*/
  .engineering-backlogs-logo{
    height: 76px;
    width: auto;
    position: relative;
    margin-top: -9px;
    margin-left: 15px;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
  }
  
  /*navigation bar*/
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .pill-nav a {
    display: inline-block;
    color: #282828;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .pill-nav a:hover {
    background-color: #cccccc;
    color: black;
  }
  
  .pill-nav a.active {
    background-color: #F45E5E;
    color: white;
  }
  .position-nav {
    position: absolute;
    left: 15%;
    top: 15%;
    display: flex;
    flex-direction: column;
  }
     
  /*dropdown btn*/
  .dropbtn {
    color: #282828;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    color: #282828;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #282828;
    text-align: left;
    text-decoration: none;
    display: block;
  }
  .padding-left-5px{
    padding-left: 0 5px;
  }
  .dropdown-content a:hover {background-color: #F45E5E; color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #cccccc; color: black;}
  
  /*search bar*/
  form.search-bar input[type=text] {
    padding: 9px;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius:20px;
    float: left;
    width: 70%;
    background: #cccccc;
    position: relative;
    top: 0;
    margin-top: -39px;
    left: 125%;
    align-items: center;
    z-index: 4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.search-bar button {
    float: left;
    width: 40%;
    padding: 9px;
    background: #F45E5E;
    color: #000;
    border-radius: 20px;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    position: relative;
    top: -39px;
    left: 166%;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.search-bar button:hover {
    background: #F97566;
    color: white;
    border: 0;
  }
  
  form.search-bar::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /*login-btn*/
  .login-btn{
    padding: 8px;
    text-align: center;
    font-weight: 500;
    width: 20%;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: #F45E5E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px  #999;
    float: left;
    position: absolute;
    left: 5%;
    top: 0;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .login-btn:hover {background-color: #F97566; color: white;}
  
  .login-btn:active {
    background-color: #F45E5E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
  /*get started button*/
  .btn-sign-up{
    padding: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    width: 20%;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: #F45E5E;
    color: #000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px  #999;
    position: absolute;
    top: 0;
    left: 300%;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .btn-sign-up:hover {background-color: #F97566; color: white;}
  
  .btn-sign-up:active {
    background-color: #F45E5E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  /*Navigation bar ending*/
  
  /*main*/
  #main {
      padding: 0;
      border-right: none;
      width: 100%;
      margin-top: 60px;
  }
  .bg-1{
    background-color: #282828;
    min-height: 60vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .bg-1-container{
    margin: 0 0 0 10%;
    padding: 0 90px 0 9px;
  }
  .welcome{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }
  .failure-quote{
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F45E5E;
    margin-top: 10px;
  }
  form.welcome-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 25px;
    float: left;
    width: 25%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #F45E5E;
    outline: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.welcome-search-bar button {
    border-radius: 25px;
    float: left;
    width: 5%;
    padding: 10px;
    background: #F45E5E;
    color: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .start-sucess{
    display: none;
    float: right;
    position: absolute;
    top: 25%;
    left: 65%;
  }
  
  /*bg-2*/
  .bg-2{
    background-color: #999;
    height: 150vh;
    width: 100%;
    margin-top: -30px;
  }
  .bg-2-container{
    padding: 90px 50px 0 50px;
    margin: 0 5% 0 10%;
  }
  .courses-h1{
    text-align: center;
    margin-left: -5%;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    margin-bottom: 80px;
  }
  
  .column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card {
    border-radius: 15px;
    margin-left: 40px;
    padding:24px;
    background-color:white;
    margin-bottom: 10px;
  }
  
  .container {
    padding:2% 3%;
    color:black;
    background-color:white;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display:table;
  }  
  .course-h2{
    font-size:40px;
    font-weight: 700;
    margin: 25px 25px 25px 10px;
    text-decoration: none;
  }
  .course-h5{
    height:50px;
    margin: 5px;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .be-center{
    text-align: center!important;
  }
  /*bg-3*/
  .bg-3{
    background-color: #282828;
    height: 122vh;
    width: 100%;
    margin: -10px;
  }
  .bg-3-container{
    padding: 60px 50px 0 50px;
    margin: 0 5% 0 5%;
  }
  .syllabus-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
  }
  .syllabus-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 10px 0;
  }
  .syllabus-h2{
    font-size:40px;
    font-weight:700;
    margin: 0;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .syllabus-container{
    color: #282828;
    background-color:whitesmoke;
    padding: 40px;
    border-radius: 10px;
    position: relative;
  }
  .syllabus-container:hover{
    color: black;
    background-color: #efefef;
  }
  .JNTUH{
    width: 30%;
    height: auto;
    float: center;
    position: relative;
  }
  
  /*bg-4*/
  .bg-4{
    background-color: #38444D;
    height: 45vh;
    width: 100%;
    margin-top: -10px;
  }
  .bg-4-container{
    padding: 60px 50px 60px 50px;
    margin: 0 5% 0 5%;
  }
  .notes-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
  }
  .notes-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 10px 0;
  }
  form.notes-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 25px;
    float: center;
    width: 25%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    outline: 0;
    position: relative;
    left: 35%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.notes-search-bar button {
    border-radius: 25px;
    float: center;
    width: 5%;
    padding: 10px;
    background: #F45E5E;
    color: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 35%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  /*bg-5*/
  .bg-5{
    background-color: #282828;
    height: 45vh;
    width: 100%;
    margin-top: -10px;
  }
  .bg-5-container{
    padding: 60px 50px 60px 50px;
    margin: 0 5% 0 5%;
  }
  .PP-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 0;
  }
  .PP-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
    margin: 0;
    padding: 10px 0;
  }
  form.PP-search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0;
    border-radius: 25px;
    float: center;
    width: 35%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    outline: 0;
    position: relative;
    left: 30%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  form.PP-search-bar button {
    border-radius: 25px;
    float: center;
    width: 5%;
    padding: 10px;
    background: #F45E5E;
    color: white;
    font-size: 17px;
    border: 0;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 30%;
    top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /*bg-6*/
  .bg-6{
    background-color: #999;
    height: 18%;
    width: 100%;
    margin-top: -10px;
  }
  .bg-6-container{
    padding: 60px 50px 60px 50px;
    margin: 0 5% 0 5%;
  }
  .earn-h1{
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    margin: 0;
  }
  .earn-h3{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #282828;
    margin: 0;
    padding: 10px 0;
  }
  .earn-money{
    align-items: center;
    position: relative;
    left: 32.5%;
    top: 80px;
  }
  
  
  /*footer*/
  .footer{
    background-color: #fff;
    height: 50vh;
    width: 100%;
    border-top: 1px solid #282828;
  }
  .footer-container{
    margin-left: 10%;
    margin-right: 10%;
    padding: 60px 0 32px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo{
    width: 70px;
    height: auto;
  }
  .footer-links{
    font-size: 20px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    padding-left: 40px;
    padding-right: 100px;
  }
  .ga-bottom{
    color: #38444D;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    float: left;
    padding-right: 10px;
  }
  .ga-bottom:hover{
    text-decoration: underline;
    color: black;
  }
  .icons{
    color: #38444D;
    text-decoration: none;
    float: left;
    font-size:26px;
    margin-right: 10px;
    padding: 10px;
  }
  .icons:hover{
    color: black;
    background-color: transparent;
    border-radius: 10px;
  }
  .jss121 {
    height: 10px;
    margin-left: 6px;
  }


}

/* Laptop with a screen size of 1440x900 pixels */
@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  /* styles here */
}

/* Laptop with a screen size of 1600x900 pixels */
@media only screen and (min-width: 1600px) and (max-width: 1600px) {
  /* styles here */
}

/* Laptop with a screen size of 1920x1080 pixels */
@media only screen and (min-width: 1920px) and (max-width: 1920px) {
  /* styles here */
}

/* Laptop with a screen size of 2560x1440 pixels */
@media only screen and (min-width: 2560px) and (max-width: 2560px) {
  /* styles here */
}



@media only screen and (min-width: 900px) {
  /*your css style for size larger than 900px*/
}
/*-0------------------------------------------------------------------------*/
/*MAIN*/
@media only screen and (min-width: 1024px) {
  /* styles here */
  /*body*/
body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  background-color: #282828;
  width: 100%;
  height: 100vh;

}
.bg-container {
  position: relative;
  flex-grow: 10;
  min-height: 100vh;
  width: 100%;
  background-size: auto;
  flex-direction: column;
  display: flex;
}



/* navigation bar starting*/

  /*alert message*/
.alert {
  padding: 20px;
  background-color: #F45E5E;
  color: white;
}
  
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
  
.closebtn:hover {
  color: black;
}

/*Navigation Bar*/
.Navigation-Bar {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    border-bottom: 1px solid #282828;
}
.menu-bar{
  display: none;
}
.sidenav{
display: none;
}
.mymenu{
  display: none;
}


/*logo*/
/*.logo {
    height: 55px;
    margin: 0 15px;
    position: absolute;
    left: 0;
    top: 2.5px;
    padding: 5px;
    cursor: pointer;
}*/
.engineering-backlogs-logo{
  height: 76px;
  width: auto;
  position: relative;
  margin-top: -9px;
  margin-left: 15px;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
}

/*navigation bar*/
*{
  font-family: Arial, Helvetica, sans-serif;
}

.pill-nav a {
  display: inline-block;
  color: #282828;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pill-nav a:hover {
  background-color: #cccccc;
  color: black;
}

.pill-nav a.active {
  background-color: #F45E5E;
  color: white;
}
.position-nav {
  position: absolute;
  left: 15%;
  top: 15%;
  display: flex;
  flex-direction: column;
}
   
/*dropdown btn*/
.dropbtn {
  color: #282828;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cccccc;
  color: #282828;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #282828;
  text-align: left;
  text-decoration: none;
  display: block;
}
.padding-left-5px{
  padding-left: 0 5px;
}
.dropdown-content a:hover {background-color: #F45E5E; color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #cccccc; color: black;}

/*search bar*/
form.search-bar input[type=text] {
  padding: 9px;
  font-size: 17px;
  border: 0;
  outline: 0;
  border-radius:20px;
  float: left;
  width: 90%;
  background: #cccccc;
  position: absolute;
  top: 0;
  margin-top: 0px;
  left: 130%;
  align-items: center;
  z-index: 4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.search-bar button {
  float: left;
  width: 40%;
  padding: 9px;
  background: #F45E5E;
  color: white;
  border-radius: 20px;
  font-size: 17px;
  border: 0;
  border-left: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 190%;
  text-align: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.search-bar button:hover {
  background: #F97566;
  color: white;
  border: 0;
}

form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}

/*login-btn*/
.login-btn{
  padding: 8px;
  text-align: center;
  font-weight: 500;
  width: 20%;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #F45E5E;;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px  #999;
  float: left;
  position: absolute;
  left: 325%;
  top: 0;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.login-btn:hover {background-color: #F97566; color: white;}

.login-btn:active {
  background-color: #F45E5E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*get started button*/
.btn-sign-up{
  padding: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 20%;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #F45E5E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px  #999;
  position: absolute;
  top: 0;
  left: 300%;
  float: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-sign-up:hover {background-color: #F97566; color: white;}

.btn-sign-up:active {
  background-color: #F45E5E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Navigation bar ending*/

/*main*/
#main {
    padding: 0;
    border-right: none;
    width: 100%;
    margin-top: 60px;
}
.bg-1{
  background-color: #282828;
  min-height: 60vh;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 90px;
}
.bg-1-container{
  margin: 0 0 0 10%;
  padding: 0 90px 0 9px;
}
.welcome{
  font-size: 70px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.failure-quote{
  font-size: 27px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #F45E5E;
  margin-top: 10px;
}
form.welcome-search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 0;
  border-radius: 25px;
  float: left;
  width: 25%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-right: 1px solid #F45E5E;
  outline: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.welcome-search-bar button {
  border-radius: 25px;
  float: left;
  width: 5%;
  padding: 10px;
  background: #F45E5E;
  color: white;
  font-size: 17px;
  border: 0;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.start-sucess{
  float: right;
  position: absolute;
  top: 25%;
  left: 65%;
}

/*bg-2*/
.bg-2{
  background-color: #999;
  height: 150vh;
  width: 100%;
  margin-top: -30px;
}
.bg-2-container{
  padding: 90px 50px 0 50px;
  margin: 0 5% 0 10%;
}
.courses-h1{
  text-align: center;
  margin-left: -5%;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  margin-bottom: 80px;
}

.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  border-radius: 15px;
  margin-left: 40px;
  padding:24px;
  background-color:white;
  margin-bottom: 10px;
}

.container {
  padding:2% 3%;
  color:black;
  background-color:white;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display:table;
}  
.course-h2{
  font-size:40px;
  font-weight: 700;
  margin: 25px 25px 25px 10px;
  text-decoration: none;
}
.course-h5{
  height:50px;
  margin: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.be-center{
  text-align: center!important;
}
/*bg-3*/
.bg-3{
  background-color: #282828;
  height: 122vh;
  width: 100%;
  margin: -10px;
}
.bg-3-container{
  padding: 60px 50px 0 50px;
  margin: 0 5% 0 5%;
}
.syllabus-bg-3-padding{
  margin: 60px 20%;
}
.syllabus-h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.syllabus-h3{
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  margin: 0;
  padding: 10px 0;
}
.syllabus-h2{
  font-size:40px;
  font-weight:700;
  margin: 0;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.syllabus-container{
  color: #282828;
  background-color:whitesmoke;
  padding: 40px;
  border-radius: 10px;
  position: relative;
}
.syllabus-container:hover{
  color: black;
  background-color: #efefef;
}
.JNTUH{
  width: 30%;
  height: auto;
  float: center;
  position: relative;
}

/*bg-4*/
.bg-4{
  background-color: #38444D;
  height: 45vh;
  width: 100%;
  margin-top: -10px;
}
.bg-4-container{
  padding: 60px 50px 60px 50px;
  margin: 0 5% 0 5%;
}
.notes-h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.notes-h3{
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  margin: 0;
  padding: 10px 0;
}
form.notes-search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 0;
  border-radius: 25px;
  float: center;
  width: 25%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  outline: 0;
  position: relative;
  left: 35%;
  top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.notes-search-bar button {
  border-radius: 25px;
  float: center;
  width: 5%;
  padding: 10px;
  background: #F45E5E;
  color: white;
  font-size: 17px;
  border: 0;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: 35%;
  top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*bg-5*/
.bg-5{
  background-color: #282828;
  height: 45vh;
  width: 100%;
  margin-top: -10px;
}
.bg-5-container{
  padding: 60px 50px 60px 50px;
  margin: 0 5% 0 5%;
}
.PP-h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 0;
}
.PP-h3{
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
  margin: 0;
  padding: 10px 0;
}
form.PP-search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 0;
  border-radius: 25px;
  float: center;
  width: 35%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  outline: 0;
  position: relative;
  left: 30%;
  top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form.PP-search-bar button {
  border-radius: 25px;
  float: center;
  width: 5%;
  padding: 10px;
  background: #F45E5E;
  color: white;
  font-size: 17px;
  border: 0;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: 30%;
  top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*bg-6*/
.bg-6{
  background-color: #999;
  height: 18%;
  width: 100%;
  margin-top: -10px;
}
.bg-6-container{
  padding: 60px 50px 60px 50px;
  margin: 0 5% 0 5%;
}
.earn-h1{
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  margin: 0;
}
.earn-h3{
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #282828;
  margin: 0;
  padding: 10px 0;
}
.earn-money{
  align-items: center;
  position: relative;
  left: 32.5%;
  top: 80px;
}


/*footer*/
.footer{
  background-color: #fff;
  height: 50vh;
  width: 100%;
  border-top: 1px solid #282828;
}
.footer-container{
  margin-left: 8%;
  margin-right: 8%;
  padding: 60px 0 32px;
  display: flex;
  flex-wrap: wrap;
}
.footer-logo{
  width: 70px;
  height: auto;
}
.footer-links{
  font-size: 20px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
  padding-left: 40px;
  padding-right: 100px;
}
.footer-para{
  margin: 28px 8px 28px 0; 
  width: 360px; 
  color: #38444D ;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ga-bottom{
  color: #38444D;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  float: left;
  padding-right: 10px;
}
.ga-bottom:hover{
  text-decoration: underline;
  color: black;
}
.icons{
  color: #38444D;
  text-decoration: none;
  float: left;
  font-size:26px;
  margin-right: 10px;
  padding: 10px;
}
.icons:hover{
  color: black;
  background-color: transparent;
  border-radius: 10px;
}
.jss121 {
  height: 10px;
  margin-left: 6px;
}

}
