* {
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1,h2,h3,h4,h5,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  @media only screen and (max-width:600px) {
    #notes-main {
      padding: 0;
      border-right: none;
      width: 100%;
      margin-top: 60px;
    }
    .notes-bg-1{
    background-color: #38444D;
    height: 10vh;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .notes-bg-1-container{
    margin: 0 10% 0 10%;
    padding: 0 40px 0 40px;
    }
    .notes-title-h1{
      text-shadow: 4px 1px 2px #999; 
      margin: 0 10px 40px 0; text-align: center;
    }
    .notes-title-span{
      font-size: 60px; 
      color: whitesmoke; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .notes-bg-2{
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 90px;
    }
    .notes-bg-2-container{
    margin: 0 5% 0 5%;
    padding: 0 10px 0 10px;
    justify-content: center;
    }
    
    .notes-column {
      float: left;
      width: 50%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    .notes-card {
      border-radius: 15px;
      padding:10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      background-color:white;
      width: 100%;
    }
    
    .notes-container {
      padding:2% 3%;
      color:black;
      background-color:white;
    }
    .notes-container a{
      text-decoration: none;
      color: black;
    }
    
    .notes-container::after, .notes-row::after {
      content: "";
      clear: both;
      display:table;
    }  
    .notes-course-h2{
      font-size:25px;
      font-weight:1200;
      margin: 10px 10px 10px 5px;
      text-decoration: none;
    }
    .notes-course-h5{
      height:50px;
      font-size: 10px;
      margin: 5px;
      margin-left: 5px;
      text-decoration: none;
    }
    
  }

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    /*your css style for size between 600pz and 90px*/
  }
  @media only screen and (min-width: 900px) {
    /*your css style for size larger than 900px*/
  }
  @media only screen and (min-width: 1024px){
    #notes-main {
      padding: 0;
      border-right: none;
      width: 100%;
      margin-top: 60px;
    }
    .notes-bg-1{
    background-color: #38444D;
    height: 16.5vh;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    }
    .notes-bg-1-container{
    margin: 0 10% 0 10%;
    padding: 0 90px 0 90px;
    }
    .notes-title-h1{
      text-shadow: 4px 1px 2px #999; 
      margin: 0 10px 40px 0; text-align: center;
    }
    .notes-title-span{
      font-size: 80px; 
      color: whitesmoke; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .notes-bg-2{
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 90px;
    }
    .notes-bg-2-container{
    margin: 0 20% 0 20%;
    justify-content: center;
    }
    
    .notes-column {
      float: left;
      width: 50%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    .notes-card {
      border-radius: 15px;
      padding:24px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      background-color:white;
    }
    
    .notes-container {
      padding:2% 3%;
      color:black;
      background-color:white;
    }
    .notes-container a{
      text-decoration: none;
      color: black;
    }
    
    .notes-container::after, .notes-row::after {
      content: "";
      clear: both;
      display:table;
    }  
    .notes-course-h2{
      font-size:45px;
      font-weight:1200;
      margin: 30px 30px 30px 10px;
      text-decoration: none;
    }
    .notes-course-h5{
      height:50px;
      margin: 5px;
      margin-left: 10px;
      text-decoration: none;
    }
  }