* {
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1,h2,h3,h4,h5,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  @media only screen and (max-width:600px) {
    /*main*/
#sem-main {
    padding: 0;
    border-right: none;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.sem-bg-1{
  background-color: #282828;
  height: 10vh;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sem-bg-1-container{
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
}
.sem-bg-2{
  background-color: #e2e2e2;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 90px;
}
.sem-bg-2-container{
  margin: 0 5% 0 5%;
}
.sem-syllabus-h1{
  text-shadow: 4px 1px 2px #999;
  margin: 0 10px 20px 0;
  text-align: center;
}
.sem-syllabus-span{
  font-size: 32.5px; 
  color: whitesmoke; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.syllabus-pdf{
  width: 100%;
  height: 600px;
}
   
  }
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    /*your css style for size between 600pz and 90px*/
  }
  @media only screen and (min-width: 900px) {
    /*your css style for size larger than 900px*/
  }
  
  
@media only screen and (min-width: 1024px){
/*main*/
#sem-main {
    padding: 0;
    border-right: none;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.sem-bg-1{
  background-color: #282828;
  height: 15vh;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}
.sem-bg-1-container{
  margin: 0 10% 0 10%;
  padding: 0 90px 0 90px;
}
.sem-bg-2{
  background-color: #e2e2e2;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 90px;
}
.sem-bg-2-container{
  margin: 0 20% 0 20%;
}
.sem-syllabus-h1{
  text-shadow: 4px 1px 2px #999;
  margin: 0 10px 20px 0;
  text-align: center;
}
.sem-syllabus-span{
  font-size: 60px; 
  color: whitesmoke; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.syllabus-pdf{
  width: 100%;
  height: 100vh;
}
    
}