* {
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,h2,h3,h4,h5,p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media only screen and (max-width:600px) {
     /*main*/
#syllabus-r22-main {
  padding: 0;
  border-right: none;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
}
.syllabus-r22-bg-1{
  background-color: #282828;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.syllabus-r22-bg-1-container{
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
}
.syllabus-r22-h1{
  color: white;
  font-size: 45px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 1px 2px  #999;
  margin-bottom: 5px;
  margin-top: 5px;
}
form.syllabus-r22-search-bar input[type=text] {
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  float: center;
  border-radius:  5px 0 0 5px;
  width: 60%;
  padding-left: 25px;
  background: white;
  outline: 0;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form.syllabus-r22-search-bar button {
  border-radius:  0 5px 5px 0;
  float: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 10%;
  padding: 10px 10px;
  background: white;
  color: #38444D;
  margin-left: -5px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*bg-2*/
.syllabus-r22-bg-2{
background-color: #f5f5f5;
height: auto;
width: 100%;
}
.syllabus-r22-bg-2-container{
padding: 10px 10px 0 10px;
padding-bottom: 20px;
margin: 0 2% 5% 2%;
margin-bottom: 0;
}
.syllabus-r22-year{
color: black;
font-size: 25.5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
margin-bottom: 15px;
text-shadow: 1px 1px 0px #666;
padding-top: 60px;
}

.syllabus-r22-semester{
color: #F45E5E;
font-size: 22.5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 900;
text-align: center;
margin-top: 22.5px;
text-shadow: 1px 1px 0px #282828;
}
.syllabus-r22-courses{
color: #3e3e3e;
font-size: 15px;
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:bolder;
}
.syllabus-r22-courses:hover{
color: black;
text-decoration: underline;
}
.syllabus-r22-row{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.syllabus-r22-row ul{
padding-top: 20px;
}
ul{
  padding-left: 25px;
  list-style-type:square;
}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    /*your css style for size between 600pz and 90px*/
}
@media only screen and (min-width: 900px) {
    /*your css style for size larger than 900px*/
}


@media only screen and (min-width: 1024px) {
  /*main*/
#syllabus-r22-main {
  padding: 0;
  border-right: none;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}
.syllabus-r22-bg-1{
  background-color: #282828;
  height: 27vh;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.syllabus-r22-bg-1-container{
  margin: 0 10% 0 10%;
  padding: 0 90px 0 90px;
}
.syllabus-r22-h1{
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 4px 1px 2px  #999;
  margin-bottom: 5px;
  margin-top: 5px;
}
form.syllabus-r22-search-bar input[type=text] {
  padding: 20px 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  float: center;
  border-radius:  5px 0 0 5px;
  width: 30%;
  padding-left: 25px;
  background: white;
  outline: 0;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form.syllabus-r22-search-bar button {
  border-radius:  0 5px 5px 0;
  float: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 5%;
  padding: 20px 20px;
  background: white;
  color: #38444D;
  margin-left: -5px;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*bg-2*/
.syllabus-r22-bg-2{
background-color: #f5f5f5;
height: 430vh;
width: 100%;
}
.syllabus-r22-bg-2-container{
padding: 10px 45px 0 45px;
margin: 0 9.5% 5% 9.5%;
}
.syllabus-r22-year{
color: black;
font-size: 55px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
margin-bottom: 25px;
text-shadow: 1.8px 1px 0px #666;
padding-top: 60px;
}
.syllabus-r22-semester{
color: #F45E5E;
font-size: 40px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 900;
text-align: center;
margin-top: 5px;
text-shadow: 1.8px 1px 0px #282828;
}
.syllabus-r22-courses{
color: #3e3e3e;
font-size: 20px;
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight:bolder;
}
.syllabus-r22-courses:hover{
color: black;
text-decoration: underline;
}
.syllabus-r22-row{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 40px;
}
.syllabus-r22-row ul{
padding-top: 20px;

}

}
